
/*==============| Build CSS |====================*/

.build {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    animation: build-border 1s 1.1s linear forwards;
    -webkit-animation: build-border 1s 1.1s linear forwards;
    width: 140px;
    height: 140px;
    perspective: 800px;
    overflow: hidden;
}

@keyframes build-border {
    0% {
        border-top: 2px solid rgba(255, 255, 255, 0.1);
    }
    40% {
        border-right: 2px solid rgba(255, 255, 255, 0.1);
    }
    70% {
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }

    100% {
        border-left: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 1px 0.2px rgba(255, 255, 255, 0.1);
    }
}


.build > div {
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cube {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: translateZ(-75px) rotateY(-35deg) rotateX(-20deg);
    -webkit-transform: translateZ(-75px) rotateY(-35deg) rotateX(-20deg);
    -moz-transform: translateZ(-75px) rotateY(-35deg) rotateX(-20deg);
    -ms-transform: translateZ(-75px) rotateY(-35deg) rotateX(-20deg);
    -o-transform: translateZ(-75px) rotateY(-35deg) rotateX(-20deg);
}

.waitingForBorder {
    opacity: 0;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
}

.showCubeAfterBorder {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}


.cube__face {
    position: absolute;
    width: 50px;
    height: 50px;
   
} 

.front {
    transform: rotateY(0deg) translateZ(25px);
    -webkit-transform: rotateY(0deg) translateZ(25px);
    -moz-transform: rotateY(0deg) translateZ(25px);
    -ms-transform: rotateY(0deg) translateZ(25px);
    -o-transform: rotateY(0deg) translateZ(25px);
}

.back {
    transform: rotateY(180deg) translateZ(25px);
    -webkit-transform: rotateY(180deg) translateZ(25px);
    -moz-transform: rotateY(180deg) translateZ(25px);
    -ms-transform: rotateY(180deg) translateZ(25px);
    -o-transform: rotateY(180deg) translateZ(25px);
}

.right {
    transform: rotateY(90deg) translateZ(25px);
    -webkit-transform: rotateY(90deg) translateZ(25px);
    -moz-transform: rotateY(90deg) translateZ(25px);
    -ms-transform: rotateY(90deg) translateZ(25px);
    -o-transform: rotateY(90deg) translateZ(25px);
}

.left {
    transform: rotateY(-90deg) translateZ(25px);
    -webkit-transform: rotateY(-90deg) translateZ(25px);
    -moz-transform: rotateY(-90deg) translateZ(25px);
    -ms-transform: rotateY(-90deg) translateZ(25px);
    -o-transform: rotateY(-90deg) translateZ(25px);
}

.top {
    transform: rotateX(90deg) translateZ(25px);
    -webkit-transform: rotateX(90deg) translateZ(25px);
    -moz-transform: rotateX(90deg) translateZ(25px);
    -ms-transform: rotateX(90deg) translateZ(25px);
    -o-transform: rotateX(90deg) translateZ(25px);
}

.bottom {
    box-shadow: 3px 2px 5px 10px rgba(0, 0, 0, 0.07), -5px -4px 5px 10px rgba(0, 0, 0, 0.07);
    transform: rotateX(-90deg) translateZ(25px);
    -webkit-transform: rotateX(-90deg) translateZ(25px);
    -moz-transform: rotateX(-90deg) translateZ(25px);
    -ms-transform: rotateX(-90deg) translateZ(25px);
    -o-transform: rotateX(-90deg) translateZ(25px);
}


.tiny {
    width: 25px;
    height: 25px;
    float: right;
    background: linear-gradient(#134, #158);
}


.innerfront .two, .innerfront .three, .innerfront .four  {
   opacity: 0;
}

.innerside .one, .innerside .three, .innerside .four  {
    opacity: 0;
 }

 .innertop .one, .innertop .two, .innertop .four  {
    opacity: 0;
 }


.innerside {
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
}

.innertop {
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
}


.front .one {
    opacity: 0;
}

.right .two {
    opacity: 0;
}

.top .three {
    opacity: 0;
}

.right .two {
    opacity: 0;
}

.shade {
    width: inherit;
    height: inherit;
}

.shade-right {
    background: linear-gradient(to right, #134, #158);
}

.shade-left {
    background: linear-gradient(to left, #134, #158);
}

.shade-top {
    background: linear-gradient(to top, #134, #158);
}

.shade-slant {
    background: linear-gradient(145deg, #158, #134);
}

.shade-slantTwo {
    background: linear-gradient(55deg, #158, #134);
}

.shade-slantThree {
    background: linear-gradient(-45deg, #158, #134);
}

.shade-nogradient {
    background: #134;
}




/*=========| cube Logo |==========*/

.cubeLogo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    transform: translateZ(-13px) rotateY(-35deg) rotateX(-20deg);
    -webkit-transform: translateZ(-13px) rotateY(-35deg) rotateX(-20deg);
    -moz-transform: translateZ(-13px) rotateY(-35deg) rotateX(-20deg);
    -ms-transform: translateZ(-13px) rotateY(-35deg) rotateX(-20deg);
    -o-transform: translateZ(-13px) rotateY(-35deg) rotateX(-20deg);
}

.cube__faceLogo {
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0.8;
   
} 

.frontLogo {
    transform: rotateY(0deg) translateZ(15px);
    -webkit-transform: rotateY(0deg) translateZ(15px);
    -moz-transform: rotateY(0deg) translateZ(15px);
    -ms-transform: rotateY(0deg) translateZ(15px);
    -o-transform: rotateY(0deg) translateZ(15px);
}

.backLogo {
    transform: rotateY(180deg) translateZ(15px);
    -webkit-transform: rotateY(180deg) translateZ(15px);
    -moz-transform: rotateY(180deg) translateZ(15px);
    -ms-transform: rotateY(180deg) translateZ(15px);
    -o-transform: rotateY(180deg) translateZ(15px);
}

.rightLogo {
    transform: rotateY(90deg) translateZ(15px);
    -webkit-transform: rotateY(90deg) translateZ(15px);
    -moz-transform: rotateY(90deg) translateZ(15px);
    -ms-transform: rotateY(90deg) translateZ(15px);
    -o-transform: rotateY(90deg) translateZ(15px);
}

.leftLogo {
    transform: rotateY(-90deg) translateZ(15px);
    -webkit-transform: rotateY(-90deg) translateZ(15px);
    -moz-transform: rotateY(-90deg) translateZ(15px);
    -ms-transform: rotateY(-90deg) translateZ(15px);
    -o-transform: rotateY(-90deg) translateZ(15px);
}

.topLogo {
    transform: rotateX(90deg) translateZ(15px);
    -webkit-transform: rotateX(90deg) translateZ(15px);
    -moz-transform: rotateX(90deg) translateZ(15px);
    -ms-transform: rotateX(90deg) translateZ(15px);
    -o-transform: rotateX(90deg) translateZ(15px);
}

.bottomLogo {
    box-shadow: 1px 0.5px 5px 10px rgba(0, 0, 0, 0.01),                 -1px -0.5px 5px 10px rgba(0, 0, 0, 0.05);
    transform: rotateX(-90deg) translateZ(15px);
    -webkit-transform: rotateX(-90deg) translateZ(15px);
    -moz-transform: rotateX(-90deg) translateZ(15px);
    -ms-transform: rotateX(-90deg) translateZ(15px);
    -o-transform: rotateX(-90deg) translateZ(15px);
}


.tinyLogo {
    width: 15px;
    height: 15px;
    float: right;
    background: linear-gradient(#134, #158);
}


.frontLogo .one {
    opacity: 0;
}

.rightLogo .two {
    opacity: 0;
}

.topLogo .three {
    opacity: 0;
}

.rightLogo .two {
    opacity: 0;
}


/*=========| Media Query |=============*/

@media screen and (min-width: 768px) {
    .build {
        width: 155px;
        height: 155px;
    }

    .cube__face {
        width: 60px;
        height: 60px;
    } 

    .front {
        transform: rotateY(0deg) translateZ(30px);
        -webkit-transform: rotateY(0deg) translateZ(30px);
        -moz-transform: rotateY(0deg) translateZ(30px);
        -ms-transform: rotateY(0deg) translateZ(30px);
        -o-transform: rotateY(0deg) translateZ(30px);
}
    
    .back {
        transform: rotateY(180deg) translateZ(30px);
        -webkit-transform: rotateY(180deg) translateZ(30px);
        -moz-transform: rotateY(180deg) translateZ(30px);
        -ms-transform: rotateY(180deg) translateZ(30px);
        -o-transform: rotateY(180deg) translateZ(30px);
}
    
    .right {
        transform: rotateY(90deg) translateZ(30px);
        -webkit-transform: rotateY(90deg) translateZ(30px);
        -moz-transform: rotateY(90deg) translateZ(30px);
        -ms-transform: rotateY(90deg) translateZ(30px);
        -o-transform: rotateY(90deg) translateZ(30px);
}
    
    .left {
        transform: rotateY(-90deg) translateZ(30px);
        -webkit-transform: rotateY(-90deg) translateZ(30px);
        -moz-transform: rotateY(-90deg) translateZ(30px);
        -ms-transform: rotateY(-90deg) translateZ(30px);
        -o-transform: rotateY(-90deg) translateZ(30px);
}
    
    .top {
        transform: rotateX(90deg) translateZ(30px);
        -webkit-transform: rotateX(90deg) translateZ(30px);
        -moz-transform: rotateX(90deg) translateZ(30px);
        -ms-transform: rotateX(90deg) translateZ(30px);
        -o-transform: rotateX(90deg) translateZ(30px);
}
    
    .bottom {
        transform: rotateX(-90deg) translateZ(30px);
        -webkit-transform: rotateX(-90deg) translateZ(30px);
        -moz-transform: rotateX(-90deg) translateZ(30px);
        -ms-transform: rotateX(-90deg) translateZ(30px);
        -o-transform: rotateX(-90deg) translateZ(30px);
}
    
    
    .tiny {
        width: 30px;
        height: 30px;
    }
    
}




@media screen and (min-width: 790px) {
   
    .build {
        margin-top: 30%;
        animation: build-border 1s 4.8s linear forwards;
        -webkit-animation: build-border 1s 4.8s linear forwards;
}

    
}
