
.under-hero-area {
    position: relative;
}

.under-hero-area > div {
    position: absolute;
    transition: all 0.2s 0.1s;
    -webkit-transition: all 0.2s 0.1s;
    -moz-transition: all 0.2s 0.1s;
    -ms-transition: all 0.2s 0.1s;
    -o-transition: all 0.2s 0.1s;
}

.hideBeforeButtonClick {
    opacity: 0;
    top: 50px;
}

.showOnbuttonclick {
    opacity: 1;
    top: 0px;
}

.contentContainers {
    padding: 20px;
    width: 70%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4em;
    display: none;
    text-align: justify;
    letter-spacing: -1px;
}

.first-contentContainer {
    padding: 15px 20px 20px 20px;
}

hr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

.paragraphs {
    width: 100%;
    padding: 10px 0px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.65em;
    
}

h4 {
    font-family: Karla, Georgia , sans-serif;
    font-size: 17px;
    opacity: 0.8;
    line-height: 1.65em;
}
 

.importantColor {
    color: #158;
}

.first-paragraph {
    margin-top: 15px;
   
}

.blueCopyright {
    color: #158;
}


.main-footer {
    padding-bottom: 40px;
    display: none;
}

.icons {
    color: #158;
    text-decoration: underline;
    text-decoration-color: rgb(17, 85, 136, 0.5);
    text-underline-position: under;
    -moz-text-decoration-color: rgb(17, 85, 136, 0.5);
}

@media screen and (min-width: 442px) { 
    .contentContainers {
        width: 80%;
        text-align: justify;
        letter-spacing: -1px;
    }
    
}

@media screen and (min-width: 790px) {
   
    .main-footer {
        padding-top: 20px;
        padding-left: 30px;
    }

    .main-share {
        display: flex;
        justify-content: flex-end;
        padding-right: 50px;
    }
    
}